<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Covid Vaccine Tracker | World - All country DATA</title>
  <meta http-equiv="Cache-control" content="no-cache">
  <link rel="icon" href="../Images/syringe.png" />

  <link rel="stylesheet" href="../Style/bootstrap.css">
  <link rel="stylesheet" href="../Style/style.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="../index.html"><img id="navLogo" alt="covidvaccinetrack logo"
          src="../Images/Logo.png" width="160px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-item nav-link active" href="../index.html">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-item nav-link active" href="login.html">Login</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <br>

  <div class="page">
    <div class="container" style="padding-top: 60px;">
      <div class="row">
        <center>
          <div class="groupList-title">
            About
          </div>
          <img src="../Images/banner.png" style="width: 100%;">
          <div class="groupList aboutText" style="padding:18px; text-align: center;">
            This site is created to keep people informed about the administered doses of the covid vaccine around the
            world.
            There are no ads, and there never will be. We have no intention of taking advantage of a global pandemic
            that has killed millions of people.
            <br>
            <div class="aboutTextSmall">
              <br>
            </div>
            <div class="aboutTextSmall">
              <br> Project Developed By: Ashish Misal
            </div>
        </center>
      </div>

    </div>
  </div>
  </div>


</body>